.list{
    border: 3px solid red;
    margin-left: 10px;
}
.list__item{
    text-transform:lowercase;
    list-style-type: none;
    margin-top: 2px;
}


.list__item--color1{

    color: red;
}

.list__item--color2{

    color: rgb(0, 255, 242);
}
